<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{editable ? 'Update' : 'Register'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{editable ? 'Product Update' : 'Product Register'}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="supplierForm" fullscreen #supplierFormDirective="ngForm">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item-group>
          <ion-item-divider>
            <ion-label>Data</ion-label>
          </ion-item-divider>
          <ion-list>
            <ion-item>
              <ion-label for="" position="stacked">Corporate Name</ion-label>
              <ion-input type="text" formControlName="corporateName" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label for="" position="stacked">CNPJ </ion-label>
              <ion-input type="text" formControlName="cnpj" required></ion-input>
            </ion-item>

            <ion-item-group>
              <ion-item-divider>
                <ion-label>Contact</ion-label>
              </ion-item-divider>
              <ion-list formControlName="contact">
                <ion-item>
                  <ion-label for="" position="stacked">Email </ion-label>
                  <ion-input type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label for="" position="stacked">Cellphone</ion-label>
                  <ion-input type="text" required></ion-input>
                </ion-item>
              </ion-list>
            </ion-item-group>

            <ion-item-group>
              <ion-item-divider>
                <ion-label>Address</ion-label>
              </ion-item-divider>
              <ion-list formControlName="address">
                <ion-item>
                  <ion-label for="" position="stacked">CEP</ion-label>
                  <ion-input type="text" (change)="getCep()" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label for="" position="stacked">Locality </ion-label>
                  <ion-input type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label for="" position="stacked">UF </ion-label>
                  <ion-input type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label for="" position="stacked">District </ion-label>
                  <ion-input type="text" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label for="" position="stacked">Public Place </ion-label>
                  <ion-input type="text" required></ion-input>
                </ion-item>
              </ion-list>
            </ion-item-group>

          </ion-list>
        </ion-item-group>

      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" [disabled]="supplierForm.invalid" type="submit"
          (ngSubmit)=" editable ? update() : register();">
          {{editable ? 'Update' : 'Register'}}
        </ion-button>
      </div>
    </form>

  </ion-content>

</ion-content>