<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-title>Product ShowCase</ion-card-title>
    <ion-card-subtitle>Cards</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-card *ngFor="let product of products">
      <ion-card-header>
        <ion-card-title>{{product.productName}}</ion-card-title>
        <ion-card-subtitle>Supplier: {{product.supplier.corporateName}}</ion-card-subtitle>
        <ion-card-subtitle>Quantity: {{product.quantity}}</ion-card-subtitle>
        <ion-card-subtitle>Value R$: {{product.salePrice}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-card-content>

</ion-content>